<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052012392055-io17s840d7jj7nm0n4cq4j1gmalpbmn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052012392055-io17s840d7jj7nm0n4cq4j1gmalpbmn0</string>
	<key>API_KEY</key>
	<string>AIzaSyCXWUyVBkyzuFxpqnBySp9LhMIFbOJUA30</string>
	<key>GCM_SENDER_ID</key>
	<string>1052012392055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodbari.customer</string>
	<key>PROJECT_ID</key>
	<string>foodbari-8d39e</string>
	<key>STORAGE_BUCKET</key>
	<string>foodbari-8d39e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052012392055:ios:6cb0114b2619f2a47ce072</string>
</dict>
</plist>