<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465635087998-ceeg16g1ijfg3na8qgf7g0i59hi0kurt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465635087998-ceeg16g1ijfg3na8qgf7g0i59hi0kurt</string>
	<key>API_KEY</key>
	<string>AIzaSyDdyfqgaIsEfr-8EP4bCpWRMfvV2ggDeaA</string>
	<key>GCM_SENDER_ID</key>
	<string>465635087998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.customer.foodbaricustomer</string>
	<key>PROJECT_ID</key>
	<string>deliveryapp-f3bed</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryapp-f3bed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465635087998:ios:e2a2a9fa689bdf97786a2f</string>
</dict>
</plist>